.CodeMirror-scroll {
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
}

.CodeMirror {
    height: auto;
    min-height: 200px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 18px;
}
